@charset "utf-8";
/* CSS Document by mrm.mahmoodi@gmail.com ==Maryam Mahmoodi== */

/* <---- browser reset */

@media all{
	
/* Global reset of paddings and margins for all HTML elements */
*{  
	padding:0;
	margin:0;
}

/* Correction:margin/padding reset caused too small select boxes. */
option{
	padding-left:0.4em;
}/*LTR*/

select {
	padding:1px;
}

/* (en) Global fix of the Italics bugs in IE 5.x and IE 6 */
* html body *{
	overflow:visible;
}

body{
	background-color:#D7D7D7;
	background-image:url('img/middle-bg.jpg');
	font-size:100.01%; /* Fix for rounding errors when scaling font sizes in older versions of Opera browser */
	color:#000;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; 
}

div{
	outline:0 none;
}

/* HTML 5 - adjusting visual formatting model to block level */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
	display:block;
}

/* Clear borders for <fieldset> and <img> elements */
fieldset, img {
	border:0 solid;
}

/* Clear borders/outline for links when you click */
a:active, a:href, a:hover {
 border:0 none;
 outline:0 none;
}

} 

@media print {

.noprint {
	display:none !important;
}

}
/*  browser reset finish -----/> */
/*================================================================*/
/* <----- major DIVs -----/> */

div.container{
	width:980px;
	min-height:700px;
	background-color:#CACACA;
	margin:0 auto;
	padding-top:1px;
}
 div.footer{
	width:auto;
	height:20px;
}

div.content{
	width:600px;
	min-height:300px;
	margin:20px auto;
	border:1px solid #383838;
	background-color:#f2f2f2;
		/*border-radius*/
	-webkit-border-radius:8px;
  	 -moz-border-radius:8px;
        	border-radius:8px;
/*box-shadow*/
	-webkit-box-shadow:0px 1px 6px #3F3F3F;
  	 -moz-box-shadow:0px 1px 6px #3F3F3F;
       	  box-shadow:0px 1px 6px #3F3F3F;
}
/*================================================================*/
/* <----- content of div.content -----/> */

div.content div.header h1{
	font-family: 'Questrial', Verdana, sans-serif;
	text-align:center;
	font-size:20px;
	color:#696A59;
	padding:1px;
	padding-top:15px;
}

div.content div.header img{
	text-align:center;
	margin-left:160px;
}

div.content input:not([type="submit"]), textarea{
	width:380px;
	margin:5px 0 0 20px;
	padding:4px 8px;
	border:1px dashed #DBDBDB;
	color:#3F3F3F;
	font-family:'Droid Sans',Tahoma,Arial,Verdana sans-serif;
	font-size:14px;
	/*border-radius*/
	-webkit-border-radius:2px;
		 -moz-border-radius:2px;
					border-radius:2px;
	/*transition*/
	-webkit-transition:background 0.2s linear,
						 box-shadow 0.6s linear;
		 -moz-transition:background 0.2s linear,
						 box-shadow 0.6s linear;
			 -o-transition:background 0.2s linear,
						 box-shadow 0.6s linear;
					transition:background 0.2s linear,
						 box-shadow 0.6s linear;
}

div.content input:not([type="submit"]):hover,
textarea:hover
{
	background:#F7F7F7;
	border:solid 1px #5C744E;
	/*box-shadow*/
	-webkit-box-shadow:2px 2px 7px #D5DBCC inset;
	   -moz-box-shadow:2px 2px 7px #D5DBCC inset;
		box-shadow:2px 2px 7px #D5DBCC inset;
}

input[type="text"]{
	height: 20px;
} 

textarea{
	min-height:150px;
	resize:vertical;
	
}

div.content input[type="button"]{
	width:60px;
	padding:3px 6px;
	margin-left:300px;
	background-color:#BAC2D8;
	cursor:pointer;	
}

div.content button{
	padding:3px 6px;
	background-color:#C8D2DD;
		/*border-radius*/
	-webkit-border-radius:3px;
	   -moz-border-radius:3px;
		border-radius:3px;
	cursor:pointer;
}

div.content button:hover{
	background-color:#DFDFDF;
	/*transition*/
	-webkit-transition:background 0.2s linear,
						 box-shadow 0.6s linear;
		 -moz-transition:background 0.2s linear,
						 box-shadow 0.6s linear;
			 -o-transition:background 0.2s linear,
						 box-shadow 0.6s linear;
					transition:background 0.2s linear,
						 box-shadow 0.6s linear;
	/*background gradiant*/				
	background-image: -webkit-linear-gradient(top, #f2f2f2, #AEAEAE);
	background-image:    -moz-linear-gradient(top, #f2f2f2, #AEAEAE);
	background-image:     -ms-linear-gradient(top, #f2f2f2, #AEAEAE);
	background-image:      -o-linear-gradient(top, #f2f2f2, #AEAEAE);
	background-image:         linear-gradient(top, #f2f2f2, #AEAEAE);
}

